// 全局变量管理 全局访问

/*=================================================================
  颜色
  =================================================================*/

$border-color: #DCDFE6;
$primary: #409EFF;
$success: #67c23a;
$warning: #e6a23c;
$error: #f56c6c;
$gray: #909399;

/*=================================================================
  页面布局相关
  =================================================================*/
